<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>Administración de usuarios. Active/desactive o elimine usuarios. Si elimina usuarios perderá la relación de sus
    documentos.</p>
  <table class="table table-striped">
    <thead>
    <th>
      Email
    </th>
    <th>
      Correo
    </th>
    <th class="text-right">
      Acciones
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
      <td ng-bind="user.name"></td>
      <td ng-bind="user.email"></td>
      <td>
        <div class="btn-group pull-right">
          <a class="btn btn-info" ng-click="updatePassword(user)" ><span class="fa fa-key"></span></a>
          <a ng-class="{ 'btn btn-success':user.status, 'btn btn-default':!user.status }" ng-click="activate(user)"><span ng-class="{ 'fa fa-thumbs-up':user.status, 'fa fa-thumbs-down':!user.status }"></span></a>
          <a class="btn btn-danger"  ng-click="delete(user, '<p>Esta seguro que desea borrar al usuario <strong>' + user.name + '</strong> ?</p>')"><span class="fa fa-trash"></span></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


