.navbar-inverse {
  background-color: #516395;
  border-color: #e7e7e7;
}


.navbar-inverse a.social-links {
  font-size: 2.5em;
  padding:0;
  margin-top:2px;
  margin-left: 15px;
  color:#fff !important;
}

.navbar-inverse .social-links:hover {
  color:#e7e7e7 !important;
}

@media (max-width: 768px) {
  .ft li, .ft a{
    display:inline-block;
  }
  
  .ft a{
    float:right;
  }
}
