<ng-include src="'components/navbar/navbar.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">

        <h1 class="panel-title" ng-bind="portfolio.course"></h1>

        <div class="panel-body">
          <p ng-bind="portfolio.description"></p>
          <b>Vigencia:</b> <span ng-bind="portfolio.startDate | date"></span> - <span
          ng-bind="portfolio.endDate | date"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h2>Contenido</h2>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="item in portfolio.concepts" on-finish-render="onFinishedRender">
    <div class="col-xs-12">
      <h3 ng-bind="item.name"></h3>
      <p ng-bind="item.info"></p>
      <p>

      <div class="file-input-holder">
        <button class="btn btn-success btn-sm fakeBtn {{ item._id }} hide">Cargar nuevo archivo</button>
        <input class="{{ item._id }} hide" type="file" nv-file-select="" data-prop="itemFile" uploader="item.upload"
               multiple/>
      </div>
      <strong class="{{ item._id }} pulse2 hide">Cargando archivo al servidor .....</strong>
      </p>
      <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>ver</th>
        <th>Nombre</th>
        <th>Subido</th>
        <th>Acciones</th>
        </thead>
        <tbody>
        <tr ng-repeat="att in item.attachments">
          <td>{{ $index + 1 }}</td>
          <td><a href="{{ s3Bucket + att.url }}" target="_blank">Descargar</a></td>
          <td><div label-editor data-label="{{ att.name }}"
                   data-enter-action="updateFileName"
                   data-data-parentid="{{ item._id }}"
                   data-data-childid="{{ att._id }}">
          </div>
          </td>
          <td>{{ att.uploaded | date }}</td>
          <td>
              <button class="btn btn-danger btn-sm">Borrar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
