<ng-include src="'components/navbar/navbar.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="alert alert-success alert-dismissible" role="alert" ng-show="submitSuccess">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				<strong>Exito!</strong> {{ entry }} ha sido guardado.
			</div>
			<div class="alert alert-danger alert-dismissible" role="alert" ng-show="submitError">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				<strong>Error!</strong> Se produjo un error al intentar guardar.
			</div>
      <form name="form" id="form"  novalidate ng-submit="save(form)">
        <div class="form-group" ng-class="{ 'has-success has-feedback': form.curso.$valid && submitted,
                                             'has-error has-feedback': form.curso.$invalid && submitted    }">
          <label for="Curso">Curso</label>
          <input type="text" id="Curso" ng-model="portfolio.course" name="curso" class="form-control" placeholder="Nombre del curso" required/>
          <span ng-show="form.curso.$error.required && submitted" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span class="help-block" ng-show="form.curso.$error.required && submitted">El nombre del curso es obligatorio</span>

        </div>
        <div class="form-group">
          <label for="startDate">Fecha Inicio</label>
          <input type="date" id="startDate" ng-model="portfolio.startDate" class="form-control" placeholder="Fecha Inicio (solo informativo)"/>
        </div>
        <div class="form-group">
          <label for="endDate">Fecha Fin</label>
          <input type="date" id="endDate" ng-model="portfolio.endDate" class="form-control" placeholder="Fecha Fin (solo informativo) "/>
        </div>
        <div class="form-group">
            <label for="description">Descripcion</label>
            <textarea class="form-control" id="description" ng-model="portfolio.description" placeholder="Algun comentario (opcional)"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="#" class="btn btn-info">Limpiar</a>
        <a href="#" class="btn btn-default">Cancelar</a>
      </form>
    </div>
    <div class="col-md-4 col-xs-12">
      <label>Conceptos</label>
      <div class="well">
        <p ng-show="array.length == 0 && submitted" class="text-danger">Seleccione por lo menos 1 concepto</p>
        <ul class="list-unstyled">
          <li>
              <input type="checkbox" ng-model="checkList" ng-click="checkAll()"/> Seleccionar todo
          </li>
          <li>
            <ul class="">
              <li ng-repeat="item in concepts" ng-click="checkEach($event, item)"><input type="checkbox" ng-model="item.Selected"> {{ item.name }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

